step-function.json
{
  "Comment": "A description of my state machine",
  "StartAt": "serializeImage",
  "States": {
    "serializeImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": {
        "image_data.$": "$.Payload.body.image_data",
        "s3_bucket.$": "$.Payload.body.s3_bucket",
        "s3_key.$": "$.Payload.body.s3_key",
        "inferences.$": "$.Payload.body.inferences"
      },
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:559274121743:function:serializeImageData",
        "Payload": {
          "s3_bucket.$": "$.s3_bucket",
          "s3_key.$": "$.s3_key"
        }
      },
      "Next": "classifyImage"
    },
    "classifyImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": {
        "image_data.$": "$.Payload.body.image_data",
        "s3_bucket.$": "$.Payload.body.s3_bucket",
        "s3_key.$": "$.Payload.body.s3_key",
        "inferences.$": "$.Payload.body.inferences"
      },
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:559274121743:function:ClassifyImage",
        "Payload": {
          "image_data.$": "$.image_data"
        }
      },
      "Next": "filterImage"
    },
    "filterImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": {
        "image_data.$": "$.Payload.body.image_data",
        "s3_bucket.$": "$.Payload.body.s3_bucket",
        "s3_key.$": "$.Payload.body.s3_key",
        "inferences.$": "$.Payload.body.inferences"
      },
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:559274121743:function:filterInference",
        "Payload": {
          "inferences.$": "$.inferences"
        }
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}